.find_game_bar{
    width:100%;
    height:200px;
    padding:0 20%;
    padding-top: 80px;
    box-sizing: border-box;
    margin:0 auto;
    font-size: 28px;
    font-weight: bold;
    background-color: #fff;

}
.find_game_bar ul{
    display: flex;
    justify-content: space-between;
    width:100%;
    position:relative;
}
.find_game_bar ul li{
    line-height: 120px;
 
}
.find_game_bar ul li em{
    font-size: 14px;
    color: #60583D;
    position:absolute;
    left:28%;
}
.fa-solid{font-size: 36px;
margin-right: 15px;}
.game_link{
    color:#858585;
    margin-right:15px;
    transition: 0.3s ease-in;
}
.game_link:hover{
    color:#000;
}
/* game bar 복붙하기*/
.find_game{
    width:100%;
    height:100vh;
    background-color: #FFE2C7;
    position:absolute;
    top:0;
    left: 0;
    z-index: -1;
    padding-top:300px;
    box-sizing: border-box;
}
.slick-slider{
    width:100%;
}
.find_game_wrap{
    width:80%;
    margin:0 auto;
    height:400px;
    position:relative;
    margin-top:-60px;
}

.find_game_wrap .slick-dots li{
  
   overflow: hidden;
}
.find_game_wrap .slick-dots{
    width:300px;
    height:30px;
    position: absolute;
    top:50%;
    left: 50%;
    translate: -40% 700%;
    overflow: hidden;
}
.find_game_wrap .slick-prev{
    left:-7%;
    top:45%;
}
.find_game_wrap .slick-prev:before{
   font-size: 50px;
   color: #60583D;
   transition: 0.3s ease-in;
}
.find_game_wrap .slick-next{
    right:-5%;
    top:45%;
}
.find_game_wrap .slick-next:before{
   font-size: 50px;
   color: #60583D;
   transition: 0.3s ease-in;
}
.find_game_wrap .slick-next{
    overflow: visible;
    font-size: 0;
}
.find_game_wrap_result{
    width:80%;
    margin:0 auto;
    height:470px;
    position:relative;
    margin-top:-60px;
    background-color: #fff;
   box-sizing: border-box;
padding:0px 150px;
padding-top:100px;
text-align: center;
}
.find_game_wrap_result h2{
margin-bottom: 50px;
}
.find_sum_top{
  float: left; 
}
.find_sum_bottom{
    float: left; 
}
.hfind_sum1{
   width:20%;
    height: 50px;
    display: inline-block;
    display: flex;
    justify-content: center;
    float: left;
    background-color: #74e2ee;
    font-size: 22px;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
}
.hfind_sum1:nth-child(2){
    border-radius: 10px 0 0 0;
}
.hfind_sum1:nth-child(6){
    border-radius: 0px 10px 0 0;
}
.hfind_sum2:nth-child(7){
    border-radius: 0px 0px 0px 10px;
}
.hfind_sum2:nth-child(11){
    border-radius: 0px 0px 10px 0;
}

.hfind_sum2{
    width:20%;
     height: 80px;
     display: inline-block;
     display: flex;
     justify-content: center;
     float: left;
     background-color: #E0F2F4;
     font-size: 25px;
     font-weight: bold;
     line-height: 80px;
     margin-bottom: 60px;
 }
 .find_game_wrap{
    width:80%;
    margin:0 auto;
    height:430px;
    position:relative;
    margin-top:-60px;
    background-color: #fff;
    position:relative;
}

.find_game_buttons button{
    width:150px;
    height: 50px;
    border: none;
    background-color: #e89e59;
    font-weight: bold;
    font-size: 20px;
   color: #60583D;
position:absolute;
left:83%;
top:32%;
transition: 0.3s ease-in;
transform: rotate(15deg); /* -5도 반시계 방향으로 회전 */
    }
    .find_game_buttons button:hover{
        background-color: #e17917;
   color: #f3f0eb;
    }
@media (max-width: 450px) {
    .find_game_bar{
        width:100%;
        height:110px;
        padding:0 8%;
        padding-top: 80px;
        box-sizing: border-box;
        margin:0 auto;
        font-size: 12px;
        font-weight: bold;
        background-color: #fff;
        overflow: hidden;
    
    }
    .find_game_bar ul{
        display: flex;
        justify-content: space-between;
        width:100%;
        position:relative;
    }
    .find_game_bar ul li{
        line-height: 20px;
     
    }
    .find_game_bar ul li em{
        font-size: 10px;
        color: #60583D;
        position:absolute;
        left: 31%!important;;
    }
    .find_game_bar .fa-solid{font-size: 18px;
    margin-right: 8px;}
    .game_link{
        color:#858585;
        margin-right:15px;
        transition: 0.3s ease-in;
    }
    .game_link:hover{
        color:#000;
    }
    .find_game{
        width:100%;
        height:100vh;
     
        position:absolute;
        top:0;
        left: 0;
        z-index: -1;
        padding-top:200px;
        box-sizing: border-box;
    }
    .slick-slider{
        width:100%;
    }
    .find_game_wrap{
        width:80%;
        margin:0 auto;
        height:470px;
        position:relative;
        margin-top:-160px;
        background-color: #fff;
        position:relative;
       
    }
    .find_game_wrap .slick-dots li{
  
        overflow: hidden;
     }
     .find_game_wrap .slick-dots{
         width:300px;
         height:30px;
         position: absolute;
         top:90%;
         left: 50%;
         translate: -40% 700%;
         overflow: hidden;
     }
     .find_game_wrap .slick-prev{
         left:-7%;
         top:45%;
     }
     .find_game_wrap .slick-prev:before{
        font-size: 50px;
        color: #60583D;
        transition: 0.3s ease-in;
     }
     .find_game_wrap .slick-next{
         right:-5%;
         top:45%;
     }
     .find_game_wrap .slick-next:before{
        font-size: 50px;
        color: #60583D;
        transition: 0.3s ease-in;
     }
     .find_game_wrap .slick-next{
         overflow: visible;
         font-size: 0;
     }
     .find_game_wrap_result{
         width: 90%;
         margin:0 auto;
         height:470px;
         position:relative;
         margin-top:-60px;
         background-color: #fff;
        box-sizing: border-box;
     padding:0px 150px;
     padding-top:100px;
     text-align: center;
     }
     .find_game_wrap_result h2{
     margin-bottom: 50px;
     }
     .find_sum_top{
       float: left; 
     }
     .find_sum_bottom{
         float: left; 
     }
     .hfind_sum1{
        width:20%;
         height: 50px;
         display: inline-block;
         display: flex;
         justify-content: center;
         float: left;
         background-color: #74e2ee;
         font-size: 22px;
         font-weight: bold;
         line-height: 50px;
         color: #fff;
     }
     .hfind_sum1:nth-child(2){
         border-radius: 10px 0 0 0;
     }
     .hfind_sum1:nth-child(6){
         border-radius: 0px 10px 0 0;
     }
     .hfind_sum2:nth-child(7){
         border-radius: 0px 0px 0px 10px;
     }
     .hfind_sum2:nth-child(11){
         border-radius: 0px 0px 10px 0;
     }
     
     .hfind_sum2{
         width:20%;
          height: 180px;
          display: inline-block;
          display: flex;
          justify-content: center;
          float: left;
          background-color: #E0F2F4;
          font-size: 25px;
          font-weight: bold;
          line-height: 80px;
          margin-bottom: 60px;
      }
      .find_game_wrap{
         width:80%;
         margin:0 auto;
         height:430px;
         position:relative;
         margin-top:-60px;
         background-color: #fff;
         position:relative;
     }

     
   }

   