.bar{
    width:100%;
    height:180px;
    margin-top:-0px;
    background-color: #DDDD7B;
    position: relative;
}
.face{
    position:absolute;
    left:50%;
    top:80%;
    width:150px;
    height:150px;
 background:url(../../public/images/center/센터\ 사진.png) no-repeat 50% 50%;
 background-size: contain;
    translate: -50% -25%;
    border-radius: 100%;
    text-align: center;
    line-height: 150px;
}
.user_info{
    width:70%;
    height: 80px;
    margin: 0 auto;
    margin-top:6%;
    text-align: center;
    border-bottom: 3px solid #ccc;
}
.user_info p{font-size: 15px;
color: #858585;
margin-bottom: 1%;
}
.user_info h2{
    font-size: 20px;
}
.user_in{
    width:60%;
    margin:0 auto;
    height: 400px;
    margin-top: 40px;
}
.user_in ul{
    display: flex;
    margin-bottom: 30px;
}
.user_in ul li:nth-child(1){
    font-weight:bold;
    width:20%;
}
.user_notice{
    width:80%;
    height: 150px;
    background-color: #F3F3F3;
}
.daily_percent{
    width:100%;
    height:50px;
    background-color: #F3F3F3;
    margin-bottom: 30px;
}
.percent{
    width:100%;
    background-color: #DDDD7B;
height: inherit;
line-height: 50px;
box-sizing: border-box;
padding-left: 20px;
font-weight: bold;
}
.user_in h5{
    font-size: 20px;
    margin-bottom: 5px;
}
@media (max-width: 450px) {
    .bar{
        width:100%;
        height:110px;
        margin-top:-0px;
        background-color: #DDDD7B;
        position: relative;
    }
    .face{
        position:absolute;
        left:50%;
        top:80%;
        width:80px;
        height:80px;
     background:url(../../public/images/center/센터\ 사진.png) no-repeat 50% 50%;
     background-size: contain;
        translate: -50% -25%;
        border-radius: 100%;
        text-align: center;
        line-height: 150px;
    }
    .user_info{
        width:70%;
        height: 60px;
        margin: 0 auto;
        margin-top:6%;
        text-align: center;
        border-bottom: 2px solid #ccc;
    }
    .user_info p{font-size: 13px;
    color: #858585;
    margin-bottom: 1%;
    margin-top: 50px;
    }
    .user_info h2{
        font-size: 17px;
    }
    .user_in{
        width:60%;
        margin:0 auto;
        height: 400px;
        margin-top: 40px;
        font-size: 12px;
    }
    .user_in ul{
        display: flex;
        margin-bottom: 30px;
    }
    .user_in ul li:nth-child(1){
        font-weight:bold;
        width:40%;
    }
    .user_notice{
        width:80%;
        height: 150px;
        background-color: #F3F3F3;
    }
    .daily_percent{
        width:100%;
        height:20px;
        background-color: #F3F3F3;
        margin-bottom: 30px;
    }
    .percent{
        width:90%;
        background-color: #DDDD7B;
    height: inherit;
    line-height: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    font-weight: bold;
    }
    .user_in h5{
        font-size: 15px;
        margin-bottom: 5px;
    }
}